html {
	overflow-x: hidden;
	scroll-behavior: smooth;
	font-size: 62.5%;
}

body {
	position: relative;
	margin: 0;
	padding: 0;
	color: $black;
	font-size: 1.6rem;
	font-family: 'Poppins', sans-serif;
}

a,
button {
	cursor: pointer;
}
