@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@400;500;600;700;900&display=swap');

$white: #ffffff;
$gray: #f6f6f6;
$darkGray: #373737;
$border: #ccc;
$blue: #009ee1;
$darkBlue: #057db1;
$black: #000;
$dark: #1e1f1f;
$error: #ff0000;
$success: #2ab62a;
