.products {
	@include sectionPadding;

	&__boxes {
		display: grid;
		grid-template-rows: 1fr;
		grid-template-columns: repeat(1, 1fr);

		border: 1px solid $gray;

		@include view(mobile-max) {
			grid-template-columns: repeat(2, 1fr);
		}

		@include view(mobile) {
			grid-template-columns: repeat(3, 1fr);
		}
		@include view(tablet) {
			grid-template-columns: repeat(4, 1fr);
		}
	}

	&__box {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		gap: 0.5em;
		outline: 1px solid $gray;
		border-bottom: 1px solid $gray;
		&-top {
			position: relative;
			align-self: center;
			margin-top: 1em;

			span {
				position: absolute !important;
				top: -16px !important;
				right: -22px !important;
				left: unset !important;
				border-radius: unset !important;
				background-color: $darkBlue !important;
				padding: 0.3em 0.6em !important;
				width: unset !important;
				height: unset !important;
				min-height: unset !important;
				font-size: 1.2rem !important;
				line-height: unset !important;
			}
		}

		img {
			padding: 1em;
			width: 180px;
			height: 180px;
			object-fit: contain;
		}

		h2 {
			font-weight: 700;
			font-size: 1.4rem;
		}

		&-infos {
			display: flex;
			position: relative;
			flex-direction: column;
			justify-content: flex-end;
			gap: 0.5em;
			padding: 1em;
			height: 100%;
			&::after {
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				background-color: $gray;
				width: 100%;
				height: 1px;
				content: '';
			}
		}
	}

	&__price {
		display: flex;
		align-items: center;
		// justify-content: space-between;
		gap: 1em;
		color: $blue;
		font-weight: 700;

		span.price {
			color: $blue;

			del {
				margin-right: 0.5em;
				color: $darkGray;
				font-size: 1.3rem;
				text-decoration: line-through;
			}

			ins {
				font-size: 1.5rem;
			}
		}

		&-latest > span {
			margin-right: 5px;
		}
	}

	&__unit {
		position: relative;
		color: $darkGray;
		font-size: 1.1rem;

		@include view(mobile) {
			text-wrap-mode: nowrap;
		}
		&::before {
			position: absolute;
			top: 50%;
			left: -12px;
			transform: translateY(-50%);
			content: '/';
			font-size: 1.2rem;
		}
	}

	&__btn {
		&-loop {
			display: flex;
			flex-direction: column;
			gap: 0.5em;
		}

		&-latest {
			@include btnCta;
			align-self: stretch;
		}

		&-ajax {
			@include btn;
		}

		a.button {
			@include btnCta;
			display: block;
			align-self: stretch;
			padding: 0.8em 1em !important;
			width: 100%;
			font-weight: 400;

			&:hover {
				color: $white;
			}
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		gap: 2em;

		@include view(tablet) {
			display: grid;
			grid-template-columns: 0.8fr 2fr;
			gap: 4em;
		}
	}

	&__right {
		display: flex;
		flex-direction: column;
		gap: 2em;
	}

	&__sorting {
		display: flex;

		flex-direction: column;
		// align-self: flex-end;
		justify-content: space-between;
		// align-items: center;
		gap: 1em;

		@include view(mobile) {
			flex-direction: row;
			align-items: center;
		}

		&-label {
			margin-right: 0.5em;
			font-weight: 600;
		}

		&-select {
			@include btn;
			cursor: pointer;

			background-color: $gray;
			color: $black;

			&:hover {
				background-color: $gray;
			}
		}

		p.woocommerce-result-count {
			margin: 0;

			font-weight: 600;
		}
	}

	&__sidebar {
		.wp-block-woocommerce-product-categories {
			margin-bottom: 1em;
			border: 1px solid $gray;
			border-radius: 8px;
			padding: 1em;
		}
	}

	&__pagination {
		.woocommerce-pagination {
			margin-top: 2em;
			text-align: right !important;

			ul {
				display: flex !important;
				// justify-content: flex-end;

				justify-content: center;
				align-items: flex-end;
				gap: 0.5em;
				border: unset !important;

				&::before,
				&::after {
					display: none !important;
					content: unset !important;
				}

				@include view(tablet) {
					justify-content: flex-end;
				}
			}

			li {
				border-right: unset !important;
				border-radius: 8px;

				.page-numbers.current {
					background-color: $dark !important;
					color: $white;
				}

				.page-numbers {
					&:hover {
						background-color: $gray;
						color: $dark;
					}
				}
			}
		}
	}
}

.price-filter {
	h3 {
		font-weight: 600;
	}
}

.price-range {
	margin-block: 1em;

	.slider-container {
		display: flex;
		position: relative;
		justify-content: space-between;

		#priceSlider {
			position: relative;
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			z-index: 2;
			transition: background 0.3s ease;
			outline: none;

			background-color: $gray;
			width: 100%;
			height: 5px;
			pointer-events: auto;

			&::before {
				position: absolute;
				top: 50%;
				left: 0;
				transform: translateY(-50%);
				z-index: -1;
				background-color: $darkGray;
				width: calc(var(--value) * 1%);
				height: 6px;
				content: '';
			}

			&::-webkit-slider-thumb {
				-webkit-appearance: none;
				appearance: none;
				cursor: pointer;
				border: 2px solid $darkGray;
				border-radius: 50%;
				background: $dark;
				width: 15px; /* Szerokość uchwytu */
				height: 15px; /* Wysokość uchwytu */
			}
		}
	}
}

input[type='range'] {
	width: 100%;
}

.price-values {
	display: flex;

	position: relative;
	justify-content: center;
	align-items: center;
	margin-bottom: 1em;
	border: 1px solid $gray;
	border-radius: 8px;
	padding: 0.5em;
	overflow: hidden;

	.change-price {
		position: absolute;
		top: 0;
		background-color: $gray;
		padding: 0.3em;
		height: 100%;
		color: $black;
	}

	#priceDecrease {
		left: 0;
	}

	#priceIncrease {
		right: 0;
	}
}

input[type='number'] {
	margin: 0 5px;
	// width: 80px;
	text-align: center;
}

.displayed-values {
	display: none;
}

#filterButton {
	@include btn;
	width: 100%;
}

.wc-block-product-categories-list--depth-0 {
	display: flex;
	flex-direction: column;
	gap: 0.3em;

	&::after,
	&::before {
		display: none !important;
	}
}

.wc-block-product-categories-list--depth-1,
.wc-block-product-categories-list--depth-2,
.wc-block-product-categories-list--depth-3,
.wc-block-product-categories-list--depth-4 {
	display: none;
	position: relative;
	margin: 0 !important;
	padding-left: 0.8em !important;

	&::after,
	&::before {
		display: none !important;
	}

	&::before {
		display: unset !important;
		position: absolute;
		top: 8px;
		left: 0;
		background-color: $border;
		width: 1px;
		height: calc(100% - 16px);
		content: '';
	}
}

.submenu-open {
	display: flex;
	flex-direction: column;
	gap: 0.3em;
}

.wc-block-product-categories-list-item {
	a {
		display: inline-flex;
		justify-content: flex-start;
		align-items: center;
		gap: 0.5em;

		margin-bottom: 0.3em;
		text-transform: uppercase;

		@include hoverBlue;
	}
}

/* Styl przycisku */
.categories__btn {
	display: inline-flex;
	align-items: center;
	cursor: pointer;
	border: none;
	background: none;
}

.categories__btn.active {
	.arrow-icon-category {
		transform: rotateX(180deg);

		path {
			fill: $blue;
		}
	}
}

.arrow-icon-category {
	transition: all 0.3s ease-in-out;
	width: 16px;
	height: 16px;

	path {
		fill: $dark;
	}
}

.wc-block-product-categories-list-item.current-cat > ul,
.wc-block-product-categories-list-item.current-cat-parent > ul {
	display: flex;
	flex-direction: column;
	gap: 0.3em;
}

.current-cat > a {
	color: $blue;
	font-weight: 600;
}

.current-cat-parent > a {
	font-weight: 600;
}

.current-cat-parent > a,
.current-cat > a {
	.categories__btn {
		.arrow-icon-category {
			transform: rotateX(180deg);

			path {
				fill: $blue;
			}
		}
	}
}
