form.woo_search {
	display: flex;
	flex-wrap: nowrap;
	// gap: 0.5em;
	background-color: white;
	padding-left: 1em;
}
form.woo_search button#mybtn {
	display: grid;
	align-items: center;
	cursor: pointer;
	border: none;
	background: none;
	background-color: $blue;
	padding: 0.5em;

	&:hover {
		background-color: $darkBlue;
	}

	svg {
		path {
			stroke: $white;
		}
	}
}
form.woo_search input#keyword {
	border: none;
}
div#datafetch {
	z-index: 1000;
	background: $gray;
	width: 100%;
	// max-height: 425px;
	overflow: auto;

	ul {
		li {
			background-color: $black;
			padding: 1em;
			color: $white;
			font-size: 1.2rem;
			text-align: center;
		}
	}
}
div.woo_search_bar {
	display: flex;
	position: relative;
	flex-direction: column;
	// padding: 1em;
	width: 100%;
	// min-width: 400px;

	@include view(tablet) {
		min-width: 400px;
	}
}

.search_result {
	@include view(mobile) {
		position: absolute;
		top: 40px;
		right: 0;
	}
}

div.search_result ul a {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 1em;

	@include view(tablet) {
		justify-content: unset;
		gap: 0;
	}

	img {
		width: 50px;
		height: 50px;
		object-fit: contain;

		@include view(tablet) {
			margin-right: 1em;
		}
	}

	li {
		background-color: unset !important;

		padding: 0 !important;
		color: $black !important;
		font-weight: 400;
		font-size: 1.1rem;
		text-align: unset !important;
	}

	span.price {
		color: $black;
		font-weight: 700;
		font-size: 1.2rem;

		@include view(tablet) {
			margin-right: 1em;
			margin-left: auto;
		}
	}
}

div.search_result ul a p.des {
	margin: 0;
	padding: 0;
	color: #676767;
	font-weight: normal;
	font-size: 0.9em;
	line-height: 1.3em;
}
div.search_result ul a h5.sku {
	margin: 0 !important;
	padding: 0 !important;
	color: #676767;
	font-weight: normal;
	font-size: 0.85em;
}
div.search_result ul a span.title_r_1 {
	display: flex;
	flex-direction: row;
	gap: 9px;
}
div.search_result ul a:hover {
	background-color: rgba($color: $border, $alpha: 0.3);
}
.woo_search input#keyword {
	outline: none;
	background-color: white;
	width: 100%;
}
span.loading {
	display: grid;
	align-items: center;
	padding: 0.5em;
}
@-webkit-keyframes rotating {
	from {
		-webkit-transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
	}
}
.hds-flight-icon--animation-loading {
	-webkit-animation: rotating 1s linear infinite;
}
span.loading {
	visibility: hidden;
}
span.price p {
	margin: 0;
	padding: 0;
}
span.price {
	display: flex;
	align-items: center;
	margin-inline-end: 5px;
	color: #535353;
}
span.price .sale-price {
	justify-content: flex-start;
}
div#datafetch a {
	text-decoration: none;
}
ul.woo_bar_el {
	display: flex;
	flex-direction: column;
}

.show_all {
	background-color: $black;
	padding: 1em;
	color: $white;
	font-size: 1.2rem;
	text-align: center;
}

a.cat_a.woo_bar_el {
	display: block;
	border: 1px solid #5a5a5a;
	border-radius: 8px;
	padding: 4px 15px;
	color: #5a5a5a;
}
a.cat_a.woo_bar_el:hover {
	background-color: #5a5a5a;
	color: white;
}
p.search_title {
	margin: 10px 0px 0px 8px;
	padding: 0;
	color: #676767;
	font-weight: normal;
	font-size: 0.9em;
	line-height: normal;
}
hr.search_title {
	margin: 2px 8px 0px 8px;
	background-color: #cccccc;
}
