.lost {
	@include sectionPadding;

	h2 {
		margin-bottom: 1em;
		font-weight: 600;
		font-size: 2rem;
	}

	&__box,
	&__form {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	&__row {
		display: flex;
		flex-direction: column;
		// margin-bottom: 1em;
	}

	&__btn {
		@include btn;
	}

	.required {
		color: $error;
	}

	&__label {
		font-weight: 600;
	}

	&__input {
		margin-block: 1em;
		border: 1px solid $border;
		border-radius: 4px;
		padding: 0.5em 1em;
		width: 100%;
		font-size: 1.4rem;

		&:focus {
			outline: none;
			border-color: $darkBlue;
		}
	}
}
